
/** General page styling **/
html {
  background-color: #e5e5e5;
  font-family: "Segoe UI"," Open Sans";

}

a:visited { color: #fff; }
 a:hover { color: #3498db; }
 a[href^="mailto:"] {color: #fff; }
  a[href^="mailto:"]:hover {color:  #3498db; }
 



#blur {
  position:fixed; 
  width:100%;
  height:100%;
  background: transparent url(images/overlay.png) center center repeat ;
  z-index:9997; 
  overflow:hidden;
}
.start {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.start .blockOuter {
   display: table-cell;
    vertical-align: middle;

}

.start .blockInner{
  margin: 0 auto; 

  width:287px;
  height:278px;
  z-index:9998; 
}


#logo{

  cursor:pointer;
  z-index:9998;
  position:relative;
  width:250px;
  float:left;
   	margin: 0 5px 5px 0;
  

}

#logonap{
  position:relative;
	width:32px;
	  float:left;
	 

}


.watermark
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url(images/tubeico.png) center center no-repeat ;
  z-index: 1100;
  opacity: 0.8;
}
.watermark:hover
{
 opacity: 0.5;
 cursor:pointer;

}


.icons {
  position:relative;
  width:30px;
  height:30px;
  background:url(images/icons.png) no-repeat -60px 0;
  display:inline-block;
  background-size: 300%;
}



.desc {
	clear:both;
  position:relative;
  font-size: 16px;
  color:#fff;
  width:250px;
  
}






#main {
  margin: 0;
  width:100%;
  position: absolute;
  -webkit-filter: blur(2px); 
  -moz-filter: blur(2px); 
  filter: blur(2px); 

}









/**
 * Grid container
 */
 #tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
 #tiles li {
  width: 300px;
  display: none; /** Hide items initially to avoid a flicker effect **/
}
#tiles li  a{
  cursor: pointer;
}




#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
  
}

#tiles li iframe {
  display: block;
  
}


/**
 * Progress bar for imagesLoaded
 */
 .progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */
 .wookmark-placeholder {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}