
/** General page styling **/
html {
  background-color: #fff;
  font-family: "Segoe UI"," Open Sans";

}




/*login panel*/

.start {
  position:absolute; 

  display: table;
  width: 100%;
  height: 100%;
}

.start .blockOuter {
  display: table-cell;
  vertical-align: middle;
}

.start .blockInner{
  margin: 0 auto; 
  width:250px;
  text-align:center;
}


#logo{
  position:relative;
  float:left;
  border: 1px solid #000;
  margin: 0 0 10px 0; 

}


#login-form input[type="email"], #login-form input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #000;
  padding:4%;
  font-size:95%;
  color:#000;
}

#login-form input[type="submit"]{
  width:100%;
  background:#000;
  border:0;
  padding:4%;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#login-form input[type="submit"]:hover{
  background:#3498db;
}



/*panel*/

#menublock{
	position:fixed;
 width: 150px;
 top: 30px;

 
	
}


.buttons{
	height: 40px;
 	width:172px;
    overflow: hidden;
	  transition:background .3s;
  -webkit-transition:background .3s;
  float:right;
  margin:30px 15px 100px 15px;	
  cursor:pointer;
}
.buttons:hover rect{
	fill: rgb(52,152,219);
}



div.buttons input {
    display: block !important;
    width: 172px !important;
    height: 40px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	  cursor:pointer;
}



.content
{
	position: relative;
  margin:30px 30px 100px 200px;
	
}


.fake {
  position: absolute;
  left: -170px;
}


#logopa
{	
	width: 150px;
	border: 1px solid #000;
	 margin: 0 0 10px 0; 
}

.line
{
	height:3px;
	background:#000;
}


.line_2
{
	height:3px;
	background:#000;
	right:0px;
	position:absolute;
	width:40px;
	


}
#menu {
	margin: 10px 5px 0 5px;	

}

#menu a{
	color:#000;
	font-size:16px;
	display:block;
	margin-bottom: 10px;
	

}

#menu a:hover{
	color: #3498db;
}


.image_block
{
	border:1px solid #000;
	padding:10px;
	display:inline-block;
	margin:15px;
	
}


.image_block_inner
{
	position:relative;
	height: 167px;      /* equals max image height */
    width: 150px;
	white-space: nowrap;
    
    text-align: center;
}

.image
{
	vertical-align: middle;
    max-height: 167px;
    max-width: 150px;

}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.checkbox{
	z-index:2;
	position:absolute;
	background:#fff;
	right:-22px;
	top:-20px;
	width:19px;
    height:19px;
}



.wrapper {
	width: 500px;
	margin: 50px auto;
}
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #fff;
	border:1px solid #000;
}


input[type=checkbox]:checked + label:before {
	content: "x";
	font-size: 15px;
	font-weight:bold;
	color: #000;
	text-align: center;
    line-height: 13px;
}


/*user settings*/

.usersetting{
	position:relative;
	float:left;
	margin:15px 0 0 15px;
}

.usersetting input{
width:100%;	
}





/*logout*/


#loading {
	display:table-cell;
	width: 44px;
	height: 44px;
	background: url('images/loading@2x.GIF') center center no-repeat;
}
.statement
{
	display: table-cell;
vertical-align: middle;
font-size:16px;
height:44px;
	
}

/*config panel*/

h1 {
margin:2px 10px;	
}


input{
	
border: 1px solid #000;	
width: 100%;
	
}

